recursive-include debian changelog compat control copyright rules msrprelay.init
recursive-include test   README *.py
recursive-include tls    README *.sh
prune debian/tmp
prune debian/msrprelay
prune debian/python-module-stampdir
include config.ini.sample MANIFEST.in LICENSE INSTALL Changelog
