recursive-include debian changelog compat control copyright rules
recursive-include debian lintian-overrides msrprelay.service
recursive-include debian/source format
recursive-include test   README *.py
recursive-include tls    README *.sh
prune debian/tmp
prune debian/msrprelay
include INSTALL LICENSE MANIFEST.in
